In [3]:
#first install pandas in our system using pip
#!pip install pandas

In [7]:
import pandas as pd
#pd user defined alias name
import numpy as np

In [11]:
#create a series  with the help of 1 D numpy array
#first create a 1D numpy array a
a=np.array([45,67,89,98,67,54,43,32,76,90 ])
print(a)
print(type(a))

[45 67 89 98 67 54 43 32 76 90]
<class 'numpy.ndarray'>

In [13]:
#convert 1D numpy array into Series 
x=pd.Series(a)
print(x)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
7    32
8    76
9    90
dtype: int32

In [15]:
#to show datatype of Series x
type(x)

pandas.core.series.Series

In [17]:
#To show how many rows and columns , use inbuilt attributes shape of pandas library
x.shape   #(10,) means 10 rows means 10 records but column 1

(10,)

In [ ]:
#Extract data from inbuilt Series , use different methods :-
#1. Through indexing
#2. Through Slicing
#3. Through Conditional filtering

In [19]:
print(x)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
7    32
8    76
9    90
dtype: int32

In [21]:
#To extract data at 3td index means retrieve 4th element means 3rd index
x[3]

98

In [23]:
#to extract element from multiple indexes
#suppose we want to access  3rd element(2nd index) , 5th element(4th index) 
#and 9th element(8th index)
x[[2,4,8]]

2    89
4    67
8    76
dtype: int32

In [25]:
#2. Through Slicing
#start index:stop index:step 
#suppose we want to retrieve element from 2nd index to 7th index means 
#extract element at 2nd index,3rd index,4th index,5th index,6th index ,7th index
x[2:8] #start index =2 stop index=8-1=7 step=+1 by default if not given

2    89
3    98
4    67
5    54
6    43
7    32
dtype: int32

In [27]:
print(x)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
7    32
8    76
9    90
dtype: int32

In [29]:
#To extract first 5 elements from existing Series x 
x[0:5]  #start index=0  stop index=5-1=4  step=+1

0    45
1    67
2    89
3    98
4    67
dtype: int32

In [31]:
#Or
x[:5]  #start index=0 if didnot given stop=5-1=4 step=+1

0    45
1    67
2    89
3    98
4    67
dtype: int32

In [33]:
#or head() inbuilt method of pandas library , it is used to show first 5 records from
#given Series x
x.head() #bydefault 5 records

0    45
1    67
2    89
3    98
4    67
dtype: int32

In [35]:
#to show first 7 records from given Series x
x.head(7)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
dtype: int32

In [37]:
print(x)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
7    32
8    76
9    90
dtype: int32

In [41]:
#Access last element from existing Series x
x[-1:]

9    90
dtype: int32

In [43]:
#Access last 5 elements from existing Series x
x[-5:]  #start index=-5 stop index=till end and step=+1

5    54
6    43
7    32
8    76
9    90
dtype: int32

In [45]:
#use inbuilt method tail() of pandas library 
#Access last 5 elements from existing Series x
x.tail() #bydefault last 5 elements

5    54
6    43
7    32
8    76
9    90
dtype: int32

In [47]:
#Access last 3 elements from existing Series x
x.tail(3)

7    32
8    76
9    90
dtype: int32

In [49]:
print(x)

0    45
1    67
2    89
3    98
4    67
5    54
6    43
7    32
8    76
9    90
dtype: int32

In [51]:
#create a dictionary of a student
dic={'rno':110,'name':'Anu pandey','age':21,'City':'Indore'}
#create Series with the help of dictionary
student=pd.Series(dic)
print(student)

rno            110
name    Anu pandey
age             21
City        Indore
dtype: object

In [53]:
#access name of student
student['name']

'Anu pandey'

In [59]:
#access name and city of student
student[['name','City']]

name    Anu pandey
City        Indore
dtype: object